body {
	font-family: "HelveticaNeue-Light",Helvetica,Arial,sans-serif;
	color: #2E2C2F;
	text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-family: sans-serif;
	color: inherit;
}

a {
  color: black;
	text-decoration: none;
}

a:hover {
  color: #0074D9;
}

a:active {
	text-decoration: underline;
}

.flex-container {
	display: flex;
  flex-flow: column wrap;
}

.player {
	width: 100%;
	height: auto;
}

.vjs-modal-dialog-content {
	text-align: center;
	font-size: large;
	font-family: Helvetica;
}
